<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="./public/stylesheets/register.css">
<head>
    <meta http-equiv="Content-Type" content="text">
    <title>Crypto-Investor</title>
</head>

<h1>Registration</h1>


<form action="/auth/register" method="post" >
    <div class="containers  container-fluidity">
    <div class="container">

        <p>Please fill in this form to create your account.</p>
        <hr>

        <label for="usernameId">Username:</label><input type="text" id="usernameId" placeholder="Enter Username" required />
        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <label for="emailId">Email :</label><input class="input-field" type="email" id="emailId" placeholder="Enter email" autocomplete="off" name="email" required>
        </div>
        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <label>Password :
                <input class="input-field" type="password" placeholder="Password" name="psw"  required>
            </label>
        </div>
        <label for="psw-repeat"><b>Repeat Password :</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
        <hr>

        <p>By creating an account you agree to our <a href="/terms">Terms & Privacy</a>.</p>
        <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="container signing">
        <p>Already have an account? <a href="/">Login</a>.</p>
    </div>
    <script type="text/javascript" src="public/javascripts/verifyPassword.js" ></script>
    </div>
</form>


<footer id="footer">
    <a href="https://creativecommons.org/licenses/by-nc/">about</a>

</footer>
</html>
