<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="../public/stylesheets/style.css">
<head>
    <meta http-equiv="Content-Type" content="text">
    <title>Crypto-Investor</title>
</head>

<h1>CryptoInvestor</h1>

<h2>Recover your account</h2>
<body>
<p>  We can help you reset your password and security info.</p><p>First, enter your CryptoInvestor account. Then  follow the instructions below.
</p>

<form method="get" action="/api/users/recover/account ">
    <div class="form-inline"  >

    <div class="container">
        <label for="email">Email</label><input type="email" class="form-control" placeholder="Enter your email address" id="email" name="email" >


    <input type="submit"   id="emailId"   value="RecoverAccount" onsubmit="">
    </div>
</div>
<input type="submit" id="GobackageId" value="Go back" formaction="/" formmethod="get" onsubmit="">

</form>

</body>




</html>