<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="../public/stylesheets/register.css">
<head>
    <meta http-equiv="Content-Type" content="text">
    <title>Crypto-Investor</title>
</head>

<h1
>CryptoInvestor</h1>


<body>
<form  action="/api/users/logout" method="get">
<input type="submit" value="LogOut"  />
</form>




</body>




</html>