
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" style="background-color: #00B7FF">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="public/images/SmallSquareLogoJpg.jpg">
 <head style="background-color:lightblue">

     <title>CryptoInvestor</title>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" href="public/stylesheets/style.css">

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>CryptoInvestor</title>

</head>

<h1>CryptoInvestor</h1>
 <h2>                </h2>
<body style="animation-play-state: running">

<div class="containers"   >
    <div class="wrapper">
        <form action="/auth/login" method="post" name="Login_Form" class="form-signing" style="background-color: #00B7FF;">

            <h3 class="form-inline">Welcome! Please Sign In</h3>
              <div class="container">
           <p> <label>Email:
                <input type="text" class="form-control" name="email" placeholder="Enter your email " autocomplete="off" autofocus="" />
            </label>
              </p>
            <p><label>Password:
                <input type="password" class="form-control" value="password" name="password" id ="password" autocomplete="off" placeholder="Enter Password" />
            </label>
            </p>
   <input type="hidden" name="token" value="mytoken" />
            <label for="checkbox">Remember me?</label><input type="checkbox" name="checkbox" id="checkbox" value="Checkbox" />


                  <button class="btn btn-lg btn-primary btn-block" name="Submit" formmethod="post" value="Sign In" type="Submit">Sign In</button>
            <button class="btn btn-lg


            btn-primary btn-block" formaction="/signup" formmethod="post" name="Submit"  value="Sign Up" >Sign Up</button>
                  <input type="submit" class="btn btn-primary btn-block" formmethod="post" formaction="/forgotPassword" value="Forgot password?Click here!" id="forgotPassword" >
              </div>
        </form>
    </div>
</div>
</body>
</html>