
<!DOCTYPE html>
<html lang="en">
 <meta charset="UTF-8"   />
 <link rel="stylesheet" href="../public/stylesheets/style.css" />
<head>
    <title>CryptoInvestor</title>

</head>
<h1>Welcome to CryptoInvestor</h1>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<div class="container">
<form action="/auth/login" method="post" name="form1">

    <div class="form-group" >
        <label for="email">Email:</label><input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="email or username" value="">

        <label for="passwordHash">Password:</label><input type="password" name="passwordHash" class="form-control" id="passwordHash" aria-describedby="passHelp" placeholder="*********" value="">
    </div>
    <div class ="content" formaction="auth/login">
    <input type="submit" class="btn btn-primary" value="Sign In" />
    <input type="submit" class="btn btn-primary" formaction="/register" value="Sign Up" name="form2"/>

    <label>Remember Me?
        <input type="checkbox"  value="rememberMe" name="rememberMe" class="rememberMe" placeholder="Remember Me?" onclick="let email=document.getElementById('email').value;
        email.rememberMe();" />
    </label>

    <a href="/forgotPassword"> forgot password?click here!" </a>
    </div>


</form>
</div>
</body>
</html>