<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="../public/stylesheets/register.css">
<head>
    <meta http-equiv="Content-Type" content="text">
    <title>CryptoInvestor</title>
</head>

<h1>Registration</h1>
<body>
<div class="section">
<form action="/auth/register" method="post" >
    <div class="containers">


        <p>Please fill in this form to create your account.</p>
        <hr>

        <label for="usernameId">Username:</label><input type="text" id="usernameId" placeholder="Enter Username" required />
            <label for="firstNameId">FirstName:</label><input type="text" id="firstNameId" placeholder="Enter firstname">
            <label for="lastNameId">LastName:</label><input type="text" id="lastNameId" placeholder="Enter lastName">
            <i class="fa fa-key icon"></i>
            <label for="emailId">Email :</label><input class="input-field" type="email" id="emailId" placeholder="Enter email" autocomplete="off" name="email" required>


        <label for="roleId">Role:</label>
     <div class="input-field" id="roleId" placeholder="Enter roleId" autocomplete="off" name="roleId" required>
        <select name="Role" id="roleId">
            <option value="Admin">Admin</option>
            <option value="Manager">Manager</option>
            <option value="User">User</option>
            <option value="Employee">Employee</option>
        </select>
     </div>
    </div>

        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <label>Password:
                <input class="input-field" type="password" placeholder="Password" name="psw"  required>
            </label>
        </div>
        <label for="psw-repeat"><b>Repeat Password:</b>
        </label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
        <hr>

        <p>By creating an account you agree to our <a href="/terms">Terms & Privacy</a>.</p>
        <button type="submit"
                onsubmit="

                function checkdata(req, res) {
                    req.role=document.getElementById('roleId').value;
              if((document.getElementById('password').value)!==(document.getElementById('psw-repeat').value)) {
              res.status(403).send({message: 'Password confirmPassword not match'});

        }}
                checkdata()">Register</button>


    <div class="container signing">
        <p>Already have an account? <a href="/">Login</a>.</p>
    </div>

</form>
</div>
</body>

<footer id="footer">
    <a href="https://creativecommons.org/licenses/by-nc/">about</a>

</footer>
</html>
