<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" style="background-color: #00B7FF;">
<link rel="stylesheet" href="../public/stylesheets/register.css">
<link rel="icon" href="public/images/SmallSquareLogoJpg.jpg">
<head>
    <meta http-equiv="Content-Type" content="text">
    <title>CryptoInvestor</title>
</head>
<h1>CryptoInvestor</h1>
<h2>       Registration form</h2>

<body>


    <div class="form -inline">
        <form name="form0" action="#" method="post" >

        <p>Please fill in this form to create your account.</p>
        <hr>
    <div class="form-group">
        <div class="input-group">
        <label for="username">UserName:</label><input class="input-field" type="text" autocomplete="off" name="username" id="username" autocapitalize="words" placeholder="Enter Username" required />
        <label for="firstName">FirstName:</label><input class="input-field" type="text" name="firstName" autocomplete="off" id="firstName"  placeholder="Enter First Name" autocapitalize="words" required />
        <label for="lastName">LastName:</label><input  class="input-field" type="text" name="lastName"  id="lastName" autocomplete="on" value="Enter lastName" placeholder="Enter lastName" autocapitalize="words" required />
        <label for="middleName">MiddleName:</label><input class="input-field" type="text" name="middleName" autocomplete="off" id="middleName" placeholder="Enter middleName" autocapitalize="words" value="none">
        <i class="fa fa-key icon"><label for="emailId">Email :</label><input class="input-field" type="email" id="emailId" placeholder="Enter email" autocapitalize="words" autocomplete="off"  name="email" required></i>
    </div>
    <div class="container" id="role" role="document">
        <label for="roleId">Role:</label>
        <select name="role" id="roleId" onselect="return select.value">
        <option value="User">User</option>
        <option value="Employee">Employee</option>
        <option value="Admin">Admin</option>
        <option value="Manager">Manager</option>
        </select>
    </div>
        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <label>Password:
                <input class="input-field" type="password" placeholder="Enter your password" id="password" autocomplete="off" name="password"   required>
            </label>
        </div>
        <label for="confirmPassword">Confirm Password:</label><input class="input-field" type="password" placeholder="confirmPassword" autocomplete="off" id="confirmPassword" name="confirmPassword" required>
        <hr>

        <p>By creating an account you agree to our <a href="/terms">Terms & Privacy</a>.</p>
        <input type="submit" formmethod="post" formaction="/auth/signup"
          name="Register" value="Register">



        <p>Already have an account? <a href="/">Sign in</a>.</p>
    </div>
        </form></div>




</body>

<footer id="footer">
    <a href="https://creativecommons.org/licenses/by-nc/">about</a>

</footer>
</html>
