<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="../public/stylesheets/register.css">
<head>
    <meta http-equiv="Content-Type" content="text">
    <title>CryptoInvestor</title>
</head>

<h1>Registration</h1>
<body>
<div class="section">
<form action="/auth/register" method="post" >
    <div class="containers">


        <p>Please fill in this form to create your account.</p>
        <hr>
    <div class="form-group">
        <label for="username">userName:</label><input type="text" name="username" id="username" value="noel" placeholder="Enter Username" required />
    </div>

        <div class="form-group">
            <label for="firstName">FirstName:</label>
            <input type="text" NAME="firstName" id="firstName" value="noel" placeholder="Enter First Name" required />

        </div>
        <div class="form-group">
            <label for="lastName">LastName:</label><input type="text" id="lastName" placeholder="Enter lastName" value="Noel307" required />
        </div>
        <div class="form-group">
        <label>middleName
            <input type="text" name="middleName"  placeholder="Enter middleName" value="Martial">
        </label>
        </div>
        <div class="form-group">
        <i class="fa fa-key icon">
            <label for="emailId">Email :</label><input class="input-field" type="email" id="emailId" placeholder="Enter email" autocomplete="off" name="email" required>

        </i>
        </div>
     <div class="form-group">
        <label for="roleId">role:</label>
    <select name="role" id="roleId" onselect="return select.value">
            <option value="Admin">Admin</option>
            <option value="Manager">Manager</option>
            <option value="User">User</option>
            <option value="Employee">Employee</option>
        </select>
     </div>



        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <label>Password
                <input class="input-field" type="password" placeholder="Password" name="password" value="Noel307#"  required>
            </label>
        </div>
        <label for="confirmPasswordId"><b>confirmPassword:</b>
        </label>
        <input type="password" placeholder="confirmPassword"  id="confirmPasswordId" name="confirmPassword" value="Noel307#" required>
        <hr>

        <p>By creating an account you agree to our <a href="/terms">Terms & Privacy</a>.</p>
        <input type="submit"
                onsubmit="
                checkdata(req,response)

                function checkdata(req, res) {
                    req.role=document.getElementById('roleId').value;
              if((document.getElementById('password').value)!==(document.getElementById('confirmPasswordId').value)) {
              res.status(403).send({message: 'Password confirmPassword not match'});

        }}
          " name="Register" value="Register">


    <div class="container signing">
        <p>Already have an account? <a href="/">Login</a>.</p>
    </div>
    </div>
</form>
</div>
</body>

<footer id="footer">
    <a href="https://creativecommons.org/licenses/by-nc/">about</a>

</footer>
</html>
